body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    color: white;
    text-align: center;
}

.container{
    margin-top: 80px;
}

button{
    padding: 12px 20px;
    background: #00ffd5;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background: #00bfa5;
}

.info{
    margin-top: 40px;
    font-size: 18px;
}
