name: DevOps CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout Code
      uses: actions/checkout@v3

    - name: List Files
      run: ls -la

    - name: Validate HTML
      run: echo "HTML validation simulated"

    - name: Build Complete
      run: echo "Build Successful"
